
:root {
    --accent: #583098;
}


html, body { 
    cursor: url("https://i.imgur.com/A1kKezG.png"), default;
    padding: 0;
    margin: 0;
    background: #121212;
    color: white;
    overflow: hidden;
    font-family: Quicksand, sans-serif;
}

#floating-gif {
    position: fixed;
    top: -125px;       
    left: 765px;       
    z-index: 9999;    
  }
  

  #buy {
    background-color: transparent; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Font size */
    margin-bottom: 15px; /* Margin bottom */
    cursor: pointer;
    position: absolute; bottom: 5;
    border-radius: 8px; /* Rounded corners */
    margin-left: 50px;
}

/* Hover effect */
#buy:hover {
    background-color: #9b00f500; /* Darker green on hover */
    color: rgb(92, 0, 179);
}

#buy2 {
    background-color: transparent; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 30px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Font size */
    margin-bottom: 10px; /* Margin bottom */
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    margin-right: -650px;
}

/* Hover effect */
#buy2:hover {
    background-color: #9b00f500; /* Darker green on hover */
    color: rgb(92, 0, 179);
}

 /* Styling for the Buy button */
#buyToxic {
    background-color: #070707; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Font size */
    margin-bottom: 10px; /* Margin bottom */
    cursor: pointer; /* Cursor style */
    border-radius: 8px; /* Rounded corners */
}

/* Hover effect */
#buyToxic:hover {
    background-color: #560386; /* Darker green on hover */
}

#buyReal {
    background-color: #070707; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Font size */
    margin-bottom: 10px; /* Margin bottom */
    cursor: pointer; /* Cursor style */
    border-radius: 8px; /* Rounded corners */
}

/* Hover effect */
#buyReal:hover {
    background-color: #560386; /* Darker green on hover */
}

p.title {
    font-family: Quicksand, sans-serif;
    font-size: 78px;
    text-align: center;
    color: lightgray;
    margin-bottom: 0;
}
div.content {
    padding: 0;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    display:flex;
    flex-direction: column;
    z-index:999;
    width:100%;
    position:absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.control {
    cursor: pointer;
    margin: 0 5px;
    color: blue;
}

.control:hover {
    text-decoration: underline;
}


span.linkholder {
    text-align: center;
    font-family: Poppins, sans-serif;
}
.link {
    color: darkgray;
    cursor: url("https://i.imgur.com/A1kKezG.png"), default;
    transition: color 0.3s ease;
    padding: 0px 5px;
    text-decoration: none;
}
.link:hover {
    color: var(--accent);
}
.link:active {
    color: var(--accent);
}



#particles-div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline;
}
::selection {
    background: var(--accent);
    color: white;
}



img.preload {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
}
.cnt > .slide {
    display: table-cell;
    vertical-align: middle;
}
#back {
    transition: color 0.2s ease;
    cursor: pointer;
    padding: 0px 8px;
}
#forward {
    transition: color 0.2s ease;
    cursor: pointer;
    padding: 0px 8px;
}
#forward:hover {
    color: var(--accent);
}
#back:hover {
    color: var(--accent);
}